.invite_input {
  .ant-input {
    height: 38px;
  }
}

.ant-select-item {
  padding: 8px !important;
  margin: 0 8px;
}
:where(.css-dev-only-do-not-override-gzal6t).ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #cce5ff;

  //   height: auto;
  //   width: 100%;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-select-dropdown {
  padding: 4px 0;
  overflow-y: auto;
}
.ant-input-group-wrapper {
  .ant-input-group-addon {
    background: transparent;
  }
}
.link_invite {
  .ant-input {
    height: 40px;
  }
  .ant-input-group-addon {
    width: 120px;
  }
}
:where(.css-dev-only-do-not-override-gzal6t).ant-input-group
  .ant-input-group-addon {
  padding: 0 12px;
  width: 120px;
}

:where(.css-dev-only-do-not-override-gzal6t).ant-input-group-wrapper {
  margin-bottom: 8px;
}

.transformIconUp {
  .ant-select .ant-select-arrow {
    transform: rotate(180deg);
    transition: all 0.1s;
  }
}
.transformIconDown {
  .ant-select .ant-select-arrow {
    transform: rotate(0);
    transition: all 0.1s;
  }
}

.invite_input {
  .ant-input-group {
    .ant-input {
      height: 38px;
    }
  }
}

:where(.css-dev-only-do-not-override-gzal6t).ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: normal;
}
