.btnType {
  background-color: #ecedf5;
  padding: 8px 16px;
  color: rgb(50 51 56 / 38%);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 40px;
  outline: none;
  border-radius: 4px;
}
